<div id="userinfo" class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <form ng-submit="submit" data-toggle="validator" role="form" class="form-horizontal">
            <div class="form-group">
                <input id="address" name="address" type="text" placeholder="address"
                    class="form-control input-lg" ng-model="address" required>
            </div>
            <div class="form-actions">
                <input id="info" type="submit" value="get estimate" class="btn btn-warning btn-lg" ng-click="getInfo()"/>
            </div>
        </form>
    </div>
</div>