html, body {
	min-height: 800px;
	min-width: 400px;	
	height: 100vh !important;
	width: 100%;
	background: url(../img/wood_house_4.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#userinfo{
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}
#realtor{
	margin: 0 auto;
	padding: 20px;
	display:none;
	background-color: white;
	border-radius: 25px;
    border: 2px solid #73AD21;
}

#header {
	height: 200px;
	font-size: 4em;
	font-weight: lighter;
	color: white;
	font-family: 'Pacifico';
	letter-spacing: 7px;
}
label {
	color: white;
}

.lrg {
	font-size: 3em;
	font-weight: light; 
	color: black;
}

#map{
	width: 20%;
	height: 400px;
	max-width: 400px;
}
#mapView{
	margin: 0 auto;
	padding: 20px;
	display:none;
	background-color: white;
	border-radius: 25px;
    border: 2px solid #73AD21;
}
#no-estimate{
	display: none;
}

.glyphicon-triangle-top{
	color:green;

}
.glyphicon-triangle-bottom{
	color:red;
}
.glyphicon-triangle-right{
	color:black;
}

input, textarea{
    background-color:#666;
    color: #FFF;
}