html, body {
	min-height: 800px;
	min-width: 400px;	
	height: 100vh !important;
	width: 100%;
	background: url(../img/wood_house_4.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#userinfo{
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}
#header {
	height: 200px;
	font-size: 4em;
	font-weight: lighter;
	color: white;
	font-family: 'Pacifico';
	letter-spacing: 7px;
}
label {
	color: white;
}

.lrg {
	font-size: 3em;
	font-weight: light; 
	color: white;
}

#map{
	width: 20%;
	height: 400px;
	max-width: 400px;
}
#map-estimator{
	height: 400px;
	display: none;
}
#no-estimate{
	display: none;
}