html body {
	background-repeat: no-repeat;
	background: url(../img/wood_house_4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
#header {
	height: 200px;
	font-size: 4em;
	font-weight: lighter;
	color: white;
	font-family: 'Pacifico';
	letter-spacing: 7px;
}
#cntlr {
	display: table;
}
.
input {
	width: 400px;
}

label {
	color: white;
}
.center {
	display: table-row;
	text-align: center; 
	vertical-align: middle;
	height: 200px;
}
.center-cell {
	display: table-cell;
	text-align: center; 
	height: 200px;
}
.lrg {
	height: 100px;
	font-size: 3em;
	font-weight: light; 
	color: white;
}

#map{
	width: 20%;
	height: 400px;
}
#map-estimator{
	height: 200px;
	display: table;
	display: none;
}
